<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="/" />

    <link rel="stylesheet" href="css/reconciliation.css" />
      <link rel="stylesheet" href="css/shell.css" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>

    <Routes @rendermode="InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>

</body>

</html>